{% extends "layouts/_base.html" %}
{% block title %}About{% endblock %}

{% block content %}	 
	<div class="content bg-blue">   
		<h1 class="blue">A propos</h1>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="bg-white space">
						<p>
							Ceci est un blog sur le thème des licornes réalisé en python sur le framework Django. Maintenant, vu que j'ai plus grand chose à ajouter et que c'est la page "à propos" qui sert pas à grand chose, je vais combler le vide avec du lorem Van Damme : <br /><br />

							Tu vois, j'ai vraiment une grande mission car il faut toute la splendeur du aware et finalement tout refaire depuis le début. Tu vas te dire : J'aurais jamais cru que le karaté guy pouvait parler comme ça !

							<br /><br />

							Oui alors écoute moi, j'ai vraiment une grande mission car entre penser et dire, il y a un monde de différence et c'est très, très beau d'avoir son propre moi-même ! Et tu as envie de le dire au monde entier, including yourself.

							<br /><br />

							Tu vois, tu vois au passage qu'il n'y a rien de concret car c'est juste une question d'awareness et cette officialité peut vraiment retarder ce qui devrait devenir... Tu vas te dire : J'aurais jamais cru que le karaté guy pouvait parler comme ça !
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}