{% extends "layouts/_base.html" %}
{% block title %}Page d'accueil{% endblock %}

{% block content %}	   

	<div class="container-fluid banner">
		<div class="banner-content">
			<h1>unicorns blog</h1>
			<span class="subtitle">Le blog 100% licornes</span>
		</div>
	</div> 
	<div class="content"> 
	<div class="container">
		<div class="articles-section" id="article-section">
			<h2 class="pink">Articles du blog</h2>
			<div class="row articles-list">
				{% for article in articles %}
					<div class="col-xs-12 col-sm-6 col-md-4">
						<a class="article-preview" href="{% url 'blog:article' article.slug %}">
							<div class="article-preview-image-container">
								<span class="article-preview-comments"><i class="fas fa-comment"></i>  {{ article.comments.count }}</span>
								<div class="article-preview-image" style="background: url({{ article.image.url }})"></div>
							</div>
							<div class="article-preview-content">
								<span class="article-preview-meta">{{ article.release_date|date:"M d, Y" }} - {{ article.author }}</span>
								<h3 class="article-preview-title">{{ article.title }}</h3>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="articles-pagination">
			<span class="step-links">
				{% if articles.has_previous %}
					<div class="previous-links">
						<a href="?page=1#article-section"><i class="fas fa-angle-double-left"></i></a>
						<a href="?page={{ articles.previous_page_number }}#article-section"><i class="fas fa-angle-left"></i></a>
					</div>
				{% endif %}

				<span class="current">
					Page {{ articles.number }} sur {{ articles.paginator.num_pages }}
				</span>

				{% if articles.has_next %}
					<div class="next-links">
						<a href="?page={{ articles.next_page_number }}#article-section"><i class="fas fa-angle-right"></i></a>
						<a href="?page={{ articles.paginator.num_pages }}#article-section"><i class="fas fa-angle-double-right"></i></a>
					</div>
				{% endif %}
			</span>
		</div>
	</div>
	</div>
{% endblock %}