$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xlg-min: 1366px;

$screen-xlg-max: $screen-xlg-min;
$screen-lg-max: $screen-xlg-min - 1;
$screen-md-max: $screen-lg-min - 1;
$screen-sm-max: $screen-md-min - 1;
$screen-xs-max: $screen-sm-min - 1;