@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Raleway:400,500,600,700');

$amatic: 'Amatic SC', cursive;
$raleway: 'Raleway', sans-serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;