.logo{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000;
	&:hover{
		text-decoration: none;
	}
	.logo-title{
		text-transform: uppercase;
		font-weight: $fw-bold;
		letter-spacing: 1px;
		font-size: 2rem;
		color: $--white;
		text-decoration: none;
		display: inline-block;
		transform: translateY(8px);
		transition: all .3s ease-in-out;
		text-align: right;
		line-height: .9;
	}

	@media screen and (max-width: $screen-sm-max){
		left: 15px;
	}
}