<footer class="footer-container">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="blue">Unicorns blog</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-md-6 text-center">

                    <nav class="navbar navbar-expand-lg">
                        <div class="navbar-collapse w-100 justify-content-center">
                            <ul class="navbar-nav navbar-footer">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/about">A propos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/contact">Gitlab</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row copyrights">
                <div class="col text-center">
                    <p>Copyright unicorns_blog - 2018</p>
                </div>
            </div>
        </div>
</footer>