<header>
	<nav id="nav-main" class="nav-main" role="navigation">
    <ul class="list-inline">
      <li class="nav-item">
       <a class="nav-link" href="/">Blog</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="/about">A propos</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="/contact">Contact</a>
     </li>
   </ul>
 </nav>

 <form method="GET" action="{% url 'blog:search' %}">
  <input name="q" value="{{request.GET.q}}" placeholder="search..">
  <button class="btn btn-success" type="submit">
    Search
  </button>
 </form>
</header>